<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Files Bucket</title>
  </head>
  <body>
    <div class="homepage">
      <%- include('partials/nav') %>
      <header>
        <h1>Welcome to Files Bucket. Your personal storage service</h1>
        <h2>
          Create folders and upload files in them. Keep all important documents
          in one bucket.
        </h2>
        <a href="/sign_up">
          <button type="button">Create your free account with us</button>
        </a>
      </header>
      <main>
        <div class="bg">
            <img src="./images/bg.jpg" alt="background images" />
        </div>
        <div>
          <section class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
            reiciendis nisi id rem accusamus non quaerat enim magni ipsam nihil
            laboriosam natus dolores, aliquid error amet modi doloremque nostrum
            quod, provident voluptatum odit sit consequatur. Cupiditate aliquid
            culpa facilis cum atque nisi. Porro, harum vero illo, similique
            ducimus unde minus cum voluptatibus laudantium commodi iste omnis
            hic ratione suscipit perspiciatis voluptatum aliquam expedita at
            obcaecati totam facere optio autem eaque. Blanditiis ad rem unde in
            molestias voluptates debitis, possimus ratione, veniam numquam
            minus, velit voluptas a dicta exercitationem commodi? Ipsum
            reprehenderit consectetur delectus reiciendis quia odit nam eligendi
            ea quas laboriosam, nemo quasi est, enim suscipit quos repudiandae
            commodi labore. Consectetur incidunt quis iste mollitia nemo
            perferendis labore eos, quisquam dignissimos atque expedita
            voluptatum neque sunt corrupti maiores. Perspiciatis explicabo enim
            deleniti assumenda, iusto porro quidem quaerat nesciunt natus saepe
            optio vero consequuntur magni reprehenderit, non corporis dicta
            repellat adipisci quas. Tempore omnis, laborum non amet facilis
            molestiae officiis atque, ipsum excepturi ut fugiat dicta
            dignissimos quibusdam mollitia architecto labore. Mollitia eos porro
            laboriosam obcaecati molestias deserunt rem nulla error consequuntur
            facere quisquam, aliquam a consectetur? Aliquid dolorum illo
            consequatur nisi dicta ipsam, itaque adipisci accusamus. Eveniet
            reiciendis ipsum excepturi minima facilis! Quia eaque atque dolor
            impedit quaerat quisquam quam earum unde nisi ut dignissimos,
            accusamus culpa quidem voluptatem dolorum et omnis hic harum
            voluptates incidunt rerum saepe iure! Consectetur ducimus similique
            obcaecati temporibus dicta expedita velit aliquam ea minima ipsum
            deserunt veniam quisquam sit quasi a laudantium adipisci, inventore
            minus deleniti natus nihil eum exercitationem veritatis cum. Iure
            aperiam necessitatibus ducimus ad aliquid amet, optio facilis fugit
            aliquam repudiandae quam officia, tempore quaerat veniam nemo
            cupiditate enim minima saepe? Veritatis, delectus qui repudiandae
            consequatur quaerat temporibus alias vero suscipit, asperiores
            impedit, laudantium quod quibusdam laborum maxime molestias
            praesentium animi?
          </section>
        </div>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
