<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in | Files Bucket</title>
</head>
<body>
    <%- include('partials/nav') %>
    <header>
        <h1>Sign in to your account</h1>
        <p><a href="/sign_in">Or </a>sign up for a new account</p>
    </header>
    <main>
        <div class="white_bg">
            <form action="/user/sign_in" method="post">
                <div class="input-control">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="input-control">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <button type="submit">Sign in</button>
            </form>
        </div>
    </main>
</body>
</html>