header a{
    text-decoration: underline;
}

header{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

nav, footer{
    background-color: white;
}

.err_msg{
    color: red;
}

.input-control{
    padding: 12px;
}

.input-control > label{
    display: block;
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.input-control > input{
    padding: 12px 15px;
    border-radius: 7px;
    outline: none;
    width: 100%;
    border: 1px solid #dcdcdc;
}

.input-control > input:focus{
    outline: 1px solid #0039a6;
}

.signin_btn{
    width: 100%;
    padding: 10px 15px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: #0039a6;
    color: #FAF9F6;
    border: 0px;
}

.wrapper{
    box-shadow: 0 0 3px black;
    border-radius: 7px;
    padding: 50px 20px 20px;
    max-width: 400px;
    background-color: white;
    margin: 0 auto;
}

main{
    margin-bottom: 20px;
}